@inherits LayoutComponentBase

<div class="layout-demo">
    <Layout ShowFooter="true" IsFullSide="true">
        <Header>
            <div>Insurance Claim</div>
        </Header>
        <Main>
            <BootstrapBlazorRoot>
                <main>
                    @Body
                </main>
            </BootstrapBlazorRoot>
        </Main>
    </Layout>
</div>

